<ion-view view-title="Login" class="login">
<ion-content>
<div ng-hide="authData" class="card" ng-click="login()">
  <button class="item">
  Log In with Facebook
  </button>
</div>
<div class="card" ng-show="authData">
  <div class="item item-text-wrap">
    Hello {{authData.facebook.displayName}}!
  </div>
</div>
<!-- TESTING CODE ONLY, INTERGRATE INTO FB AUTH -->
<button class="button button-block button-dark" ng-click="identifyUser()">
  Create push notifications options
</button>
<button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
  Turn on Push Notifications
</button>
</ion-content>
</ion-view>