<ion-view view-title="Tempest?" class="message-page">
  <ion-content>
  
  <form name="messageForm" ng-submit="">
    <!-- Validation is needed for length of message, char limit not working -->
    <label class="item item-input item-floating-label">
        <span class="input-label">Message</span>
        <input ng-model="$parent.message" type="text" placeholder="Message" name="message" required>
    </label>
  </form>
    <!-- Display your friends list -->
    <ion-list class="card">
      <ion-item ng-repeat="friend in decodedFriends" ng-click='sendMessage(friend.email, $index)'>
          <span>{{ friend.username }}</span>
          <span style="float:right; color: lightgray" ng-show="sent[$index]">Message Sent</span>
      </ion-item>
    </ion-list>
   

  <!-- Add friend button -->
  </ion-content>
   <ion-footer-bar class="bar-calm">
  <!-- Navigates to users page -->
      <button class="button button-icon ion-plus" ng-click="navToUsers()">
      </button> 
    </ion-footer-bar>
</ion-view>
