<ion-view view-title="Message" class="message-page">
  <ion-content>
  
  <form name="messageForm" ng-submit="sendMessage()">
    <!-- Testing purposes only, don't need this once we can link token with name  -->
    <!-- <input ng-model="$parent.token" type="text" placeholder="Friend Token" required> -->

    <input ng-model="$parent.message" type="text" placeholder="Message" ng-maxlength="15" required>

    <!-- Friend list here -->
    <ion-list class="card">
      <ion-item ng-repeat="friend in decodedFriends" ng-click='sendMessage(friend.token)'>
          {{ friend.email }}
      </ion-item>
    </ion-list>
   
    <!-- Check whether message short enough, and at least one friend checked -->
    <!-- <button ng-disabled="messageForm.$invalid || !isFriendChecked()" type="submit" class="button-large button-clear ion-android-send iconsend"></button> -->
  </form>

  <!-- Add friend button, fix later -->
  <!-- <button class="button button-icon ion-plus" ng-click="addFriend()"></button>  -->

  </ion-content>
</ion-view>

