<ion-view view-title="Users" class="users-page">
  <ion-content>
    <form name="userForm" ng-submit="fetchUserByEmail()">
    <label class="item item-input item-floating-label">
        <span class="input-label">Search</span>
        
        <input ng-model="inputs.email" type="text" placeholder="Search" ng-maxlength="15" required>
    </label>
  </form>

    <button class="button button-assertive" ng-if="notFound">
      User Not Found
    </button>
    <button class="button button-positive" ng-if="identified" ng-click="addFriend()">
      Add Friend: {{ username }}
    </button>
    <button class="button button-assertive" ng-if="alreadyFriend" ng-click="removeFriend()">
      Remove Friend: {{ username }}
    </button>
    <button class="button button-calm" ng-if="added">Added {{ username }}</button>
    <button class="button button-dark" ng-if="removed">Removed {{ username }}</button>

  </ion-content>
    <ion-footer-bar class="bar-calm">
      <button class="button button-icon ion-chevron-left" style="float: left;" ng-click="navToMessage()">
      </button>
    </ion-footer-bar>
</ion-view>
