<ion-view view-title="Users" class="users-page">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="inputs.email">
      </label>
    </div>
    <button class="button button-positive" ng-click="fetchUserByEmail()">
      Search
    </button>
    <button class="button button-assertive" ng-if="notFound">
      User Not Found
    </button>
    <button class="button button-positive" ng-if="identified" ng-click="addFriend()">
      Add Friend: {{ username }}
    </button>
    <button class="button button-calm" ng-if="added">Added {{ username }}</button>
   
    <button class="button button-icon ion-chevron-left" style="float: left;" ng-click="navToMessage()">
    </button>
    
   <!-- May or may not want a list here -->
    <!-- <ion-list>
      <ion-item ng-repeat="friend in friends" class="item-avatar">
        <img ng-src="/img/ionic.png">
        <h2>{{ friend.name }}</h2>
        <p>{{ friend.number }}</p>
      </ion-item>
    </ion-list> -->

   <!-- This button isn't used -->
   <!-- <button class="button button-icon ion-plus" ng-click="addFriend()">
    </button>  -->

  </ion-content>
</ion-view>
